<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>BarTrail sends notifications when your night ends and to remind you about long tracking sessions</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
    <key>UIAppFonts</key>
    <array>
        <string>BBHSansBogle-Regular.ttf</string>
        <string>Orbitron.ttf</string>
        <string>Orbitron-Bold.ttf</string>
        <string>Poppins-Bold.ttf</string>
        <string>Poppins-Light.ttf</string>
        <string>Poppins-Medium.ttf</string>
        <string>Poppins-Regular.ttf</string>
        <string>Poppins-SemiBold.ttf</string>
        <string>Poppins-Thin.ttf</string>
    </array>
</dict>
</plist>
